.horz{
    display:flex;
    flex-direction: row;
    gap: 0px;
}

.vert{
    display:flex;
    flex-direction: column;
    gap: 0px;
}

.imageWrapper {
    display: inline-block;
    gap: 0px;
    padding: 0px;
    line-height: 0;
}

.value {
    padding-left: 5px;
    height: 15px;
}

.box {
    border: 2px;
    border-style: solid;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gapBelow {
    margin-bottom: 4px;
}

.gapAbove {
    margin-top: 10px;
}

.ThreeD {
    width: 900px;
    height: 850px;
    /* background-color: red; */
}

#Viewer {
    position: relative;
    display: inline-block;
    gap: 0px;
}

#ViewWindow {
    gap: 0px;
}

#DrawWindow {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    gap: 0px;
}

#Controls {
    width:100%;
    height: 100%;
}
